{%extends "base.html" %}
{%block content%}
<div>
  <h3> {{pet.name|capfirst}}</h3>
  <p> {{pet.species}} </p>
  {%if pet.breed %}
    <p>Breed: {{pet.breed}}</p>
  {%endif%}
  {%if pet.age %}
    <p>Age: {{pet.breed}}</p>
  {%endif%}
  {%if pet.sex %}
    <p>Sex: {{pet.breed}}</p>
  {%endif%}
  {%if pet.vaccination.all%}
    <p> Vaccination </p>
    <ul>
      {%for vaccination in pet.vaccination.all%}
        <li>{{vaccination.name}}</li>
      {%endfor%}
    </ul>
  {%endif%}
  <p> Submitted by {{pet.submmiter}}</p>
  <p> Submitted on {{pet.submission_date|date:"M d Y"}}</p>
</div>
{%endblock%}
